<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amarsoft.mybatis.dao.DepartmentMapper">

    <resultMap id="myDept" type="dept">
        <id column="did" property="id"></id>
        <result column="dname" property="name"></result>
        <collection property="emps" ofType="employee">
            <id column="eid" property="id"></id>
            <result column="ename" property="lastName"></result>
            <result column="egender" property="gender"></result>
            <result column="eemail" property="email"></result>
        </collection>
    </resultMap>

    <select id="getDepartmentByID" resultType="dept" databaseId="mysql">
        select * from department where id = #{id}
    </select>

    <select id="getEmpsByID" resultMap="myDept" databaseId="mysql">
        select d.id did,d.name dname,e.id eid,e.last_name ename,e.gender egender,e.email eemail
            from department d left join employee e on d.d_id = e.id where d.id = #{id}
    </select>
</mapper>